@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;800&family=Nanum+Gothic:wght@400;800&family=Roboto:wght@100;400;700;900&family=Square+Peg&family=Ubuntu:wght@400;700&display=swap');

body {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none !important;
  text-decoration: none;

  /* 
  
  font-family: 'Catamaran', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Square Peg', cursive;
font-family: 'Ubuntu', sans-serif;
  
  */
}



.video-js {
  width: 100% !important;
  height: 100vh !important;
}

.posit {
  position: fixed;
  z-index: 100000000;
  width: 100%;
  height: 350px;
  backdrop-filter: blur(10px);
  align-items: center;
  transition: 600ms;
}

.posit_true {
  bottom: 0%;
}

.posit_false {
  bottom: -100%;
}

.cardt {
  width: 100%;


  .card_header {
    border-radius: 12px;

    overflow: hidden;
    height: 200px;
    width: 100%;

    img {
      width: 100%;
      height: 200px;
      cursor: pointer;
      transform: scale(1);
      transition: all 900ms;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.posit {
  h1 {
    text-align: center;
    color: white;
  }

  h3 {
    margin-top: 12px;
    color: white;
  }
}

.main_editor {
  width: 100%;
  height: 100vh;
  background: rgb(19, 23, 34);
  display: flex;
  justify-content: center;
}

#UNIQUE_ID_OF_DIV {
  background: rgb(23, 33, 48);

  height: 534px;
  margin: auto;
  width: 1000px !important;
  font-size: 24px !important;

  color: rgb(123, 173, 70);
}

.ace_content {

  color: rgb(123, 173, 70) !important;
}

.ace-github .ace_gutter {
  background: rgb(23, 33, 48);

}

.ace_cursor {
  width: 1px !important;
  // height: 1px !important;
}

.ace_text-input {
  color: white;
}

// ==============================================================================================

.form_body {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.902);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000001;
  transition: 600ms;
}

.form_true {
  transform: scale(1);
}

.form_false {
  transform: scale(0);
}

.form_class {
  height: 511px;
  width: 484px;
  border-radius: 20px;
  padding: 40px;

  background: #F5F5F5;

  input {
    height: 64px;
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif !important;
    border-radius: 12px;
    border: 1px solid rgba(0, 122, 255, 0.8);
    border-radius: 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 122, 255, 0.8);
    padding-left: 15px;


  }

  input::placeholder {
    color: rgba(0, 122, 255, 0.8);
  }
}

:focus {
  outline: none;
}

.btn_form {
  width: 292px !important;
  background: #007AFF !important;
  color: #F5F5F5 !important;
  font-size: 18px !important;
  border-radius: 12px !important;
  margin: auto;
  padding: 20px 74px !important;
}

// //////////////////////////////////////////////////////////////////@at-root

.result_section {
  position: fixed;
  top: 0;
  left: 0;

  transform: scale(1);
  width: 100%;
  height: 100vh;
  background: rgb(19, 23, 34) url('./images/BG.png') no-repeat center center / cover;
   transition: 500ms;
   z-index: 100000000000000000000000000000000000000000000;
  h2 {
    margin-top: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 64px;
    text-align: center;
  }

  h1 {
    margin-top: 12px;
    font-size: 75px;
    text-align: center;
    color: white;
  }

  img {
    height: 642px;
    width: 642px;
    margin: auto;
  }

}
